@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  /* width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  z-index: -3; */
}

body {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -3;
}
